.footer {
    background-color: rgb(26, 25, 25);
    padding-top: 20px;
    padding-bottom: 5%;
    margin-top: 80px;
}

.footer__wrapper {
    margin: 0 auto; 
    max-width: 1200px;
}


.footer__p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 170% !important;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
}

.support {
    color: #00b5ad;
    font-family: "Roboto", sans-serif;
}
