.footer {
    background-color: rgb(26, 25, 25);
    padding-top: 20px;
    padding-bottom: 5%;
    margin-top: 80px;
}

.footer__wrapper {
    margin: 0 auto; 
    max-width: 1200px;
}


.footer__p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 170% !important;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
}

.support {
    color: #00b5ad;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1250px) {
    .footer__wrapper {
        max-width: 1000px;
    }
}

@media (max-width: 1040px) {
    .footer__wrapper {
        max-width: 800px;
    }
}

@media (max-width: 860px) {
    .footer__wrapper {
        max-width: 600px;
    }
}

@media (max-width: 650px) {
    .footer__wrapper {
        max-width: 400px;
        padding: 20px;
    }
}
