body {
    margin: 0; 
}

.header {
    position: relative;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header__wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 400px 0px 400px 0px;
}

.header__a {
    position: relative;
    background: linear-gradient(90deg, #11c6be 0, #007169);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    max-width: 200px;
    box-shadow: 0 5px 17px rgba(0, 45, 43, .4);
    text-decoration: none;
}

.header__a:hover {
    background: linear-gradient(90deg, #0d8781 0, #00544a);
}

.header__h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    color: #fff;
    letter-spacing: -1px;
}

.login, .register {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.login:hover, .register:hover {
    color: #11c6be;
}

.log {
    display: flex;
    align-items: center;
    gap: 7px;
}

.profile_name {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.exit {
    background: linear-gradient(90deg, #ff8a8a 0, #fc1b1b);
    font-family: "Roboto", sans-serif;
    border: none; 
    border-radius: 20px;
    padding: 10px 40px;
    color: #fff; 
    font-weight: bold;
    box-shadow: 0 5px 17px rgba(0, 45, 43, .4);
}

.exit:hover {
    background: linear-gradient(90deg, #ff4141 0, #8a0909);
}

@media (max-width: 1250px) {
    .header__wrapper {
        padding: 300px 0px 300px 0px;
        max-width: 1000px;
    }
}

@media (max-width: 1180px) {
    .header__wrapper {
        padding: 200px 50px 200px 50px;
    }
}

@media (max-width: 480px) {
    .header__h1 {
        font-size: 40px;
    }
    .login {
        font-size: 15px;
    }
    .register {
        font-size: 15px;
    }
    .profile_name {
        font-size: 18px;
    }
    .exit {
        padding: 8px 20px;
    }
}

@media (max-width: 420px) {
    .header__wrapper {
        max-width: 950px;
    }

    .header__h1 {
        font-size: 30px;
    }
    .profile_name {
        font-size: 16px;
    }
    .exit {
        padding: 8px 18px;
    }
    .header__a {
        padding: 8px 20px;
        font-size: 13px;
    }
}
