body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(253, 253, 253, 0.746);
    max-width: 800px;
    border-radius: 20px;
    margin: 0 auto;
    gap: 50px;
    padding: 20px 40px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left__h1 {
    font-family: "Roboto", sans-serif;
    color: #333;
    margin-bottom: 25px;
}

.left__p {
    font-family: "Roboto", sans-serif;
    color: #333;
    white-space: nowrap;
}

.right__p_price {
    font-family: "Roboto", sans-serif;
    color: #333;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.go {
    background: linear-gradient(90deg, #11c6be 0, #007169);
    border: none; 
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff; 
    font-family: "Roboto", sans-serif;
}


.right__input {
    margin-top: 20px;
    border: none; 
    padding: 10px 20px;
    border-radius: 20px;
}

.go:hover {
    background: linear-gradient(90deg, #0d8781 0, #00544a);
}

.line {
    border: 1px solid;
}

hr {
    margin-bottom: 10px;
    border: none;
    border-top: 3px solid #181616; 
}

.delete_product {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #ff5b5b;
}

.delete_product:hover {
    color: #9e2323;
}

.go_back {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(9, 72, 220)
}

.go_back:hover {
    color: rgb(6, 16, 131)
}

.options {
    display: flex; 
    flex-direction: column;
}

.product_count {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.product {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 5px 17px rgba(0, 45, 43, .4);
    padding-right: 20px;
    background-color: #fff;
}

.product__img {
    width: 150px;
    height: 150px;
}

.product__wrapper div {
    display: flex;
    gap: 10px;
}

.product__label {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}