.main__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main__h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-color: rgb(254, 254, 177);
    border-radius: 20px;
    padding: 20px 10px;
    box-shadow: 0 5px 17px rgba(145, 145, 145, 0.4);
}

.main__button {
    background: linear-gradient(90deg, #11c6be 0, #007169);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    max-width: 200px;
    box-shadow: 0 5px 17px rgba(0, 45, 43, .4);
    border: none;
}

.main__button:hover {
    background: linear-gradient(90deg, #0d8781 0, #00544a);
}

.amount {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #626060;
}

.price {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #626060;
}

.instruction__p {
    font-family: "Roboto", sans-serif;
    color: #626060;
}

.instruction__h2 {
    font-family: "Roboto", sans-serif; 
    font-size: 50px;
}

.fixed-element {
    z-index: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, #11c6be 0, #007169);
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fixed-element:hover {
    background: linear-gradient(90deg, #0d8781 0, #00544a);
}

.basket {
    width: 30px;
    height: 30px;
}

.product_count {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-color: #ff5b5b;
    position: fixed;
    bottom: 55px;
    right: 15px;
    border-radius: 50%;
    color: #fff;
}

.message {
    font-family: "Roboto", sans-serif;
    color: #817f7f;
    font-weight: bold;
    border: 2px solid #ffb52b;
    background-color: #ffd993;
    padding: 10px 20px;
    max-width: 500px;
    border-radius: 5px;
}