<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StandShop :: Онлайн-магазин</title>
    <link rel="stylesheet" href="{{ url_for('get_header_css') }}">
    <link rel="stylesheet" href="{{ url_for('get_style_css') }}">
    <link rel="stylesheet" href="{{ url_for('get_footer_css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style> 
        .header {
            background-image: url("{{ url_for('get_back_image') }}");
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="overlay"></div>
        <div class="header__wrapper">
            {% if user %}
                <div class="log">
                    <p class="profile_name">{{ user.username }}</p>
                    |
                    <form action="/auth/logout/" method="POST">
                        <button type="submit" class="exit">Выйти</button>
                    </form>
                </div>
            {% else %} 
                <div class="logout">
                    <a href="{{ url_for('login_page') }}" class="login">Войти</a>
                    |
                    <a href="{{ url_for('register_page') }}" class="register">Зарегистрироваться</a>
                </div>
            {% endif %}
            <h1 class="header__h1">STANDSHOP</h1>
            <a class="header__a" href="#main">Перейти к товарам</a>
        </div>
    </header>
    <main class="main">
        {% if product_count != 0 %}
            <span class="product_count">{{ product_count }}</span>
        {% endif %}
        <a href="/basket/" class="fixed-element">
            <img class="basket" src="{{ url_for('get_basket_image') }}" />
        </a>
        <div class="main__wrapper" id="main">
            {% for message in get_flash_message(request) %}
                <p id="message" class="message">{{ message.message }}</p>
            {% endfor %}
            <h1 class="main__h1">Донат</h1>
            <div class="cards">
                {% for product in products %}
                    <div class="card">
                        <img src="{{ url_for('get_gold_image') }}" />
                        <p class="amount">{{ product.name }}🧈</p>
                        <p class="price">{{ product.price }}₴</p>
                        <form action="/basket/add/{{product.id}}/" method="POST">
                            <button type="submit" class="main__button">Добавить в корзину</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <div class="instruction">
                <h2 class="instruction__h2">Инструкция по покупке</h2>
                <strong><p class="instruction__p">1. Выбор товара</p></strong>
                <p class="instruction__p">Добавьте необходимые товары в корзину и заполните предлагаемую форму.</p>
                <strong><p class="instruction__p">2. Способ оплаты</p></strong>
                <p class="instruction__p">Выберите предпочитаемый способ оплаты и следуйте дальнейшим инструкциям.</p>
                <strong><p class="instruction__p">3. Активация привилегии</p></strong>
                <p class="instruction__p">Товар выдается после оплаты в автоматическом режиме и моментально.</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <p class="footer__p">STANDSHOP</p>
            <p class="support">support: linxccs43@gmail.com</p>
        </div>
    </footer>
</body>
</html>